* {
  margin: 0;
  padding: 0;
}

body {
  color: white;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  background-color: black;
}

/*   Nav Section */

.nav {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav ul li {
  list-style: none;
  color: white;
  padding: 6px 15px;
  font-size: 2rem;
}

.nav a {
  text-decoration: none;
  color: white;
  padding: 10px 15px;
  font-size: 2rem;
  font-weight: 600;
}

/*  Main Section - Page with parallax */

.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #510d39, transparent);
  z-index: 1000;
}

.main h1 {
  z-index: 2;
  position: relative;
  white-space: nowrap;
  font-size: 6rem;
  z-index: 4;
  padding-left: 100px;
  padding-bottom: 100px;
}

.main img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

#stars {
  z-index: 1;
}

#moon {
  z-index: 2;
}

#middle {
  z-index: 3;
}

#front {
  z-index: 4;
}

/* About Me Section  */

.about {
  height: 100vh;
  background: linear-gradient(#510d39, black, black);
  z-index: 1000;
}

.about h1 {
  padding-top: 200px;
}
.about p {
  width: 800px;
  margin: auto;
  text-align: justify;
  margin-top: 50px;
}

.stack {
  width: 400px;
  padding-top: 15px;
}

/*  Portfolio Section  */

.portfolioSection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(black, black, black, black, #332b7e);
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  border: solid 1px white;
  margin: 20px;
}

.portfolioSection img {
  width: 800px;
}

/*  Testimonial Section  */

.testimonialContainer {
  background: linear-gradient(#332b7e, #4d0d36);
  width: 100%;
  position: relative;
}

.testimonialHeading {
  padding: 50px;
}

.wrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}

.wrapper .testimonialContainer {
  position: relative;
  width: 450px;
  color: #fff;
  background: #222;
  margin: 40px 10px;
  padding: 30px 20px;
  border-radius: 3px;
  transition: 0.3s ease;
}

.wrapper .testimonialContainer .testimonial {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  top: -10%;
  width: 100%;
  display: block;
}

.wrapper .testimonialContainer .testimonial .testimonialImage {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  border: 8px solid #070c0d;
  border-radius: 50%;
  overflow: hidden;
}

.wrapper .testimonialContainer .testimonial .testimonialImage img {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  object-fit: cover;
  transition: 0.3s ease;
}

.wrapper .testimonialContainer .testimonial .testimonialImage:hover img {
  filter: saturate(140%);
  transform: scale(0.95);
}

.wrapper .testimonialContainer .testimonial h2 {
  padding: 10px 0;
  text-transform: capitalize;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 30px;
}

.wrapper .testimonialContainer p {
  margin-top: 100px;
  padding: 0 8px;
}

.rodrigoTest {
  line-height: 42px;
  margin-bottom: 40px;
}

.javierTest {
  margin-bottom: 15px;
  line-height: 22px;
}

.abbottTest {
  line-height: 20px;
}

.wrapper .testimonialContainer .left {
  font-size: 30px;
  display: block;
  text-align: left;
  color: #3b7cf5;
}

.wrapper .testimonialContainer .right {
  font-size: 30px;
  display: block;
  text-align: right;
  color: #3b7cf5;
}

.wrapper .testimonialContainer .social {
  width: 100%;
}

.wrapper .testimonialContainer .social i {
  font-size: 1.2em;
  color: #fff;
  padding: 8px;
  background: rgba(255, 255, 255, 0.085);
  border-radius: 4px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.wrapper .testimonialContainer .social i:hover {
  background: #3b7cf5;
}

/*  Contact Section  */

.contactSection {
  height: 100vh;
  padding-top: 100px;
  background: linear-gradient(#4d0d36, black);
  font-family: "Courier New", Courier, monospace;
}

.contactSection h2,
h1,
p {
  padding: 20px;
}

.contactSection p {
  width: 800px;
  margin: 0 auto;
}

.contactSection .inputClass {
  height: 50px;
  width: 800px;
  margin: 20px;
  font-size: 20px;
  font-family: inherit;
  padding-left: 10px;
}

.contactSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submitButton {
  width: 150px;
  height: 30px;
  font-size: inherit;
}

.contactSection .textbox {
  height: 200px;
  width: 800px;
  font-size: 20px;
  font-family: inherit;
  margin: 20px;
}

.textbox {
  padding-left: 10px;
  padding-top: 10px;
}

/*  Footer Section  */

.footer {
  height: 50px;
  padding-top: 50px;
}
